.message {
	width: fit-content;
	padding: 10px;
	margin: 10px;
}
.message__user {
	margin-left: auto;
	color: white;
	text-align: left;
}
.message__userCard {
	background-color: #0b81ff !important;
}
.message__guestCard {
	background-color: #e9e9eb !important;
}